
* {
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 5px;
    /*border: 1px solid red;*/
}

.row:after {
    display: block; /*  Giống với thẻ div  */
    clear: both;
    content: "";
}

.bg-gray {
    background: #bab9b9;
}

.menu {
    text-align: center;
    margin-top: 5px;
}


.button-text {
    border: none;
    background: black;
    color: white;
}
button:hover {
    background-color: blue ;
}

.fixed-above {
    background:  #080808;
    position: fixed;
    height: 50px;
    padding: 10px;
    z-index: 2;
}

.login {
    text-align: right;
}
.fixed-below {
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: #555555;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
}
.fixed-body{
    position: sticky;
    z-index: 1;
    margin-top: 50px
}
.style-link{
    text-align: center;
}
.style-body{
    background: #F1F1F1;
    height: 500px;
    margin-top: 10px;
    padding: 135px;
}
.style-ads{
    float: right;
    height: 100%;
    background-color: #eee
}